<form >
        <div class="form-group">
            <label for="exampleInputEmail1">Cap nhat Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter email" [(ngModel)]="form.email" [ngModelOptions]="{standalone: true}">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
                <label >Cap nhat ten</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Le Van Let" [(ngModel)]="form.fullname" [ngModelOptions]="{standalone: true}">
            </div>
        <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">Cap nhat Gender</legend>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="true"
                             [(ngModel)]="form.gender" [ngModelOptions]="{standalone: true}">
                        <label class="form-check-label" for="gridRadios1">
                            Nam
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="false"
                        [(ngModel)]="form.gender" [ngModelOptions]="{standalone: true}">
                        <label class="form-check-label" for="gridRadios2">
                            Nu
                        </label>
                    </div>
                    <div class="form-check disabled">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3"
                            disabled>
                        <label class="form-check-label" for="gridRadios3">
                            Bd
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>
        
        <div class="form-group">
            <label>Ngay sinh</label>
            <input type="date" class="form-control" aria-describedby="emailHelp" 
            [(ngModel)]="form.birthday" [ngModelOptions]="{standalone: true}">
        </div>
        <!-- <small style="color: red" *ngIf='birthday.invalid && password.touched'>Ngay sinh khong hop le</small> -->

      <p></p>
        <button type="submit" class="btn btn-primary" (click)='changeInfo()'>Submit</button>
    </form>
