<div class="all">
    <div class="row">

        <!-- Sidebar -->
        <div class="sidebar col-3">
            <div class="sidebar-header">
                <i class="fa fa-bars"></i>
            </div>
            <div class="sb">
                B<br>
                <p>Supervisor</p>
            </div>
            <ul class="list-unstyled components">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"
                        data-target="pageSubmenu">Pages</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="#">Page 1</a>
                        </li>
                        <li>
                            <a href="#">Page 2</a>
                        </li>
                        <li>
                            <a href="#">Page 3</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Portfolio</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
                <li>
                    <a href="#">Topics</a>
                </li>
                <li>
                    <a href="#">Courses</a>
                </li>
                <li>
                    <a href="#">Classes</a>
                </li>
            </ul>
        </div>

        <!-- Page Content -->
        <div class="content col-9">
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link active" href="#"><i class="fa fa-star"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-car" style="color:red"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
            </ul>

            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link activee" href="#">Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">/</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Skills</a>
                </li>
            </ul>

            <br>
            <br>

            <div class="row">
                <div class="show col-4">
                    Show:
                    <select class="custom-select" id="inputGroupSelect01">
                        <option selected>10</option>
                        <option value="1">15</option>
                        <option value="2">20</option>
                    </select>
                    entries
                </div>
                <div class="button col-8">
                    <div class="btn-toolbar justify-content-end" role="toolbar" aria-label="Toolbar with button groups">
                        <button type="button" class="btn btn-primary btn-sm">Excel</button>
                        <button type="button" class="btn btn-primary">PDF</button>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search"
                                aria-label="Input group example" aria-describedby="btnGroupAddon">
                        </div>
                        <button type="button" class="btn btn-primary">+ Add employee</button>
                    </div>
                </div>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Firstname</th>
                        <th scope="col">Lastname</th>
                        <th scope="col">Email</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td><i class="fa fa-search"></i>  <i class="fa fa-star"></i>  <i class="fa fa-trash"></i></td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td><i class="fa fa-search"></i>  <i class="fa fa-star"></i>  <i class="fa fa-trash"></i></td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td><i class="fa fa-search"></i>  <i class="fa fa-star"></i>  <i class="fa fa-trash"></i></td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td><i class="fa fa-search"></i>  <i class="fa fa-star"></i>  <i class="fa fa-trash"></i></td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td><i class="fa fa-search"></i>  <i class="fa fa-star"></i>  <i class="fa fa-trash"></i></td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>
</div>