<div class="card ">
    <div class="card-header">
      Leaf Rake
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-2">
                <p>
                    Name: <br>Code: <br>Description: <br><br>
                    Availability: <br>Price: <br>5 Star Rating: <br>
                </p>
            </div>
            <div class="col-2">
                <p>
                    Leaf Rake<br>GDN-0011<br>Leaf rake with 48-inch wooden handle.<br>
                    March 19,2016<br>$19.95<br>3.2
                </p>
            </div>
            <div class="cc col-8">
                <p><img src="assets/images/download.jpg" style="width:50%"></p>
            </div>
        </div>
    </div>
    <div class="card-footer">
      &larr; Back
    </div>
</div>
