<form>
    <div class="form-group">
        <label >Ten dang nhap</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Nhap ten">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
            <label >Ten day du</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Le Van Let">
        </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Nhap lai Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Re-enter Password">
    </div>
    <fieldset class="form-group">
        <div class="row">
            <legend class="col-form-label col-sm-2 pt-0">Gender</legend>
            <div class="col-sm-10">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1"
                        checked>
                    <label class="form-check-label" for="gridRadios1">
                        Nam
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                    <label class="form-check-label" for="gridRadios2">
                        Nu
                    </label>
                </div>
                <div class="form-check disabled">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3"
                        disabled>
                    <label class="form-check-label" for="gridRadios3">
                        Bd
                    </label>
                </div>
            </div>
        </div>
    </fieldset>
    <div class="form-row">
    <div class="col-auto">
      <label for="validationDefault03">Ngay sinh</label>
      <input type="text" class="form-control" id="validationDefault03" placeholder="01" required>
    </div>
    <div class="col-auto">
      <label for="validationDefault04">Thang</label>
      <input type="text" class="form-control" id="validationDefault04" placeholder="01" required>
    </div>
    <div class="col-auto">
      <label for="validationDefault05">Nam</label>
      <input type="text" class="form-control" id="validationDefault05" placeholder="2000" required>
    </div>
  </div>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>