<div class="card ">
    <div class="card-header">
        List Product
    </div>
    <div class="card-body">
        Filter by:<input type="text"><br>
        <h4>Filtered by: </h4>
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col"><a href="#" class="btn btn-primary">Hien image</a></th>
                    <th scope="col">Product</th>
                    <th scope="col">Code</th>
                    <th scope="col">Available</th>
                    <th scope="col">Price</th>
                    <th scope="col">5 Star Rating</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row"><img src="assets/images/download.jpg"></th>
                    <td>Leaf Rake</td>
                    <td>gdn-0011</td>
                    <td>March 19, 2016</td>
                    <td>$19.95</td>
                    <td>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </td>
                </tr>
                <tr>
                    <th scope="row"><img src="assets/images/download.jpg"></th>
                    <td>Leaf Rake</td>
                    <td>gdn-0011</td>
                    <td>March 19, 2016</td>
                    <td>$19.95</td>
                    <td>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </td>
                </tr>
                <tr>
                    <th scope="row"><img src="assets/images/download.jpg"></th>
                    <td>Leaf Rake</td>
                    <td>gdn-0011</td>
                    <td>March 19, 2016</td>
                    <td>$19.95</td>
                    <td>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </td>
                </tr>
                <tr>
                    <th scope="row"><img src="assets/images/download.jpg"></th>
                    <td>Leaf Rake</td>
                    <td>gdn-0011</td>
                    <td>March 19, 2016</td>
                    <td>$19.95</td>
                    <td>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </td>
                </tr>
                <tr>
                    <th scope="row"><img src="assets/images/download.jpg"></th>
                    <td>Leaf Rake</td>
                    <td>gdn-0011</td>
                    <td>March 19, 2016</td>
                    <td>$19.95</td>
                    <td>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>