h1{
    font-weight: 300;
}
hr
{
    width: 50%;
}
.main{
    padding:5px 0 15px;
    text-align: center;
}
/*Phan form*/
.form
{
    padding: 40px;
}
.nhap
{
    padding: 10px 20px 20px 20px;
}
input{
    display: block;
    margin-bottom: 20px;
    width: 100%;
    line-height: 30px;
    font-size: 13px;
    padding: 10px;
    font-weight: 500;
}
textarea
{
    width: 100%;
    padding: 10px;
    font-size: 13px;
    font-weight: 500;
}
.btn
{
    width: 100%;
    font-size: 14px;
    margin-top: 15px;
    line-height: 20px;
    font-weight: 500;
}