<div class="row middle">
    <div class="left col-lg-8 col-sm-12">

        <div id="onTime">
            <div class="card">
                <div class="card-header">
                    <i class="fas fa-th-list"></i> XÂY DỰNG TRANG WEB<span
                        class="badge badge-pill badge-primary float-right" id="minute">{{minute}}:{{second}}</span>
                </div>
                <div class="card-body height">
                    <table class="table"
                        *ngFor='let quest of questions | paginate: { itemsPerPage: bringOn, currentPage: page}'>
                        <thead>
                            <tr>
                                <th scope="col">
                                    <h5>{{page}}. {{quest.Text}}</h5>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">
                                    <div class="form-check" *ngFor='let ans of quest.Answers'>
                                        <input class="form-check-input" type="radio" name="exampleRadios"
                                            id="exampleRadios1" value="ans.Id" (click)="check(ans.Id, page)">
                                        <label class="form-check-label" for="exampleRadios1">
                                            <h6 class="font">{{ans.Text}}</h6>
                                        </label>
                                    </div>

                                </th>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div class="card-footer text-muted">
                    MARK: {{mark()}} / {{questions.length}}
                </div>
            </div>
            <button type="button" class="btn btn-info" (click)='NopBai()'>Nop bai</button>
            <div class="footer">
                <button type="button" class="btn btn-success" (click)='first()'>Len</button>
                <button type="button" class="btn btn-danger" (click)='prevPage()'>Trai</button>
                <button type="button" class="btn btn-warning" (click)='nextPage()'>Phai</button>
                <button type="button" class="btn btn-info" (click)='last()'>Xuong</button>
            </div>
        </div>

        <div id="outTime">
            <h4>Điểm của bạn: {{mark()}} / {{questions.length}} </h4>
        </div>

    </div>

    <div class="right col-lg-4 col-sm-12">
        <div class="card">
            <div class="card-header">
                <h6 class="card-title"><i class="fas fa-th-list"></i>DANH MỤC MÔN HỌC</h6>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" *ngFor='let i of listOfSubject'><a class="i"
                        [routerLink]="['/tracNghiem']">{{i.Name}}</a></li>
            </ul>
        </div>
    </div>
</div>