
.dropdown-toggle{
    color: black ;
}
.middle{
    margin-top: 20px;
}
.right{
    text-align: center;
}
.i{
    color: black;
}
.first-item{
    background-color: #eee;
}
.table{
    margin: 0;
    padding: 0;
}
.height{
    min-height: 27b0px;
}
.font{
    font-weight: 450 ;
}
#outTime{
    visibility: hidden;
}
.footer{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.bt{
    margin: auto 10px !important;
}
.icon{
    border: 1px solid #aaa;
    border-radius: 5px;
    height: 30px;
    font-weight: 50px;
    margin: 10px;
    padding: 5px;
}