<p *ngIf='service.loggedIn'><br> Hi {{service.user.fullname}}</p>

<div class="row middle">
    <div class="left col-lg-8 col-sm-12" *ngIf='list'>
        <div class="row">
            <div class="box col-lg-6" *ngFor = 'let i of list | paginate: { itemsPerPage: 4, currentPage: p }'>
                <div class="card" style="width: 100%;">
                    <a [routerLink]="['/tracNghiem',i.num]"><img src={{i.Logo}} class="card-img-top" alt="..."></a>
                    <div class="card-body">
                        <p class="card-text">{{i.Name}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="icon" (click)='first()'><a><i class="far fa-hand-point-up"></i></a></div>
            <div class="icon" (click)='back()'><a><i class="far fa-hand-point-left"></i></a></div>
            <div class="icon" (click)='next()'><a><i class="far fa-hand-point-right"></i></a></div>
            <div class="icon" (click)='last()'><a><i class="far fa-hand-point-down"></i></a></div>
        </div>

    </div>

    <div class="col-lg-4 col-sm-12">
        <div class="card">
            <div class="card-header">
                <h6 class="card-title"><i class="fas fa-th-list"></i>DANH MỤC MÔN HỌC</h6>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" *ngFor='let i of list'><a class="i" [routerLink]="['/tracNghiem',i.num]">{{i.Name}}</a></li>
            </ul>
        </div>
    </div>
</div>