
<form>
    <div class="form-group">
        <label >Ten dang nhap</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="anhyeuem123@lalala.cmm">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">old Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="mat khau cu">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">new Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Mat khau moi">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">re-new Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Nhap lai mk moi">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
