    <div class="main">
        <h1>About Us</h1>
        <hr>
        <p>Lorem ipsum dolor sit amet</p><br><br><br>

        <div class="row">
            <div class="box col-lg-3 col-6">
                <div class="icon activ3">
                        <i class="fas fa-truck"></i>
                </div>
                <h4 id="h4">Delivery service</h4>
                <p>Lorem ipsum dolor sit amet, consectetuer adipicising elit. Sapiente, amet.</p>
            </div>

            <div class="box col-lg-3 col-6">
                <div class="icon">
                        <i class="fas fa-bars"></i>
                </div>
                <h4>200+ Products</h4>
                <p>Lorem ipsum dolor sit amet, consectetuer adipicising elit. Sapiente, amet.</p>
            </div>

            <div class="box col-lg-3 col-6">
                <div class="icon">
                        <i class="fas fa-shopping-cart"></i>
                </div>
                <h4>Online Shopping</h4>
                <p>Lorem ipsum dolor sit amet, consectetuer adipicising elit. Sapiente, amet.</p>
            </div>

            <div class="box col-lg-3 col-6">
                <div class="icon">
                        <i class="fab fa-cc-visa"></i>
                </div>
                <h4>All Card Accepted</h4>
                <p>Lorem ipsum dolor sit amet, consectetuer adipicising elit. Sapiente, amet.</p>
            </div>

        </div>
    </div>
